/* ========== Portfolio Section 3 Start (Comments Customer) ========== */

.comments-section {
    padding-bottom: 170px;
}

.comments-section-content h3 {
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

.comments-section-content p {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
}

.comments-section-content {
    text-align: center
}

.comments-item {
    padding: 50px;
    background-color: #1C140F;
    color: #fff;
}

.customer-section {
    display: inline;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 18px;
    padding: 30px;
}

.profil-image img {
    padding: 10px;
    border-radius: 50px;
}

.comments-content p {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    font-style: italic;
}

.customer-name p {
    padding-left: 5px;
    margin: 0;
    font-family: Rubik;
}

/* ========== Portfolio Section 3 End (Comments Customer) ========== */


/*========== Responsive Start ==========*/
@media screen and (max-width: 576px) {
    .comments-section-content h3 {
        display: inline-block;
        font-size: 35px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 10px;
    }

    .comments-section-content p {
        display: block;
        font-size: 20px;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .customer-section {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 992px) {
    .comments-section-content h3 {
        display: inline-block;
        font-size: 35px;
        font-weight: 500;
        margin: 0;
    }

    .customer-section {
        margin-bottom: 20px;
    }

    .comments-section-content h3 {
        display: inline-block;
        font-size: 35px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 10px;
    }

    .comments-section-content p {
        display: block;
        font-size: 20px;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1980px) {
    .comments-section-content h3 {
        display: inline-block;
        font-size: 35px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 10px;
    }

    .comments-section-content p {
        display: block;
        font-size: 20px;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* ========== Responsive End ========== */