/* ========== Publisher Games Section 1 Start ========== */

.publisher-games-section-1 {
    padding-top: 130px;
}

.publisher-games-header {
    color: #fff;
    margin-bottom: 40px;
}

.publisher-games-header h1 {
    font-size: 50px;
    padding-bottom: 15px;
}

.publisher-games-header p {
    line-height: 1.7;
}

/* ========== Publisher Games Section 1 End ========== */