/* ========== Contact Section 1 Start (Contact Hero) ========== */

.contact-info{
    padding-bottom: 170px;
}

.text-contact {
    padding-top: 130px;
    color: #fff;
    text-align: center;
}

.text-contact h3 {
    font-size: 33px;
    font-weight: 600;
    font-family: Poppins;
    padding-bottom: 10px;
}

.text-contact p {
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    padding-bottom: 100px;
}

.contact-map-image img {
    width: 100%;
    padding-bottom: 80px;
    display: inline-block;
}

.follow-us ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.follow-us li {
    position: relative;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: #1C140F;
    list-style: none;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}

.follow-us li a {
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
}

.follow-us li:first-child:hover {
    background-color: #1778F2;
    transition: all .5s ease-in;
}

.follow-us li:nth-child(2):hover {
    background-color: #C13584;
    transition: all .5s ease-in;
}

.follow-us li:nth-child(3):hover {
    background-color: #1DA1F2;
    transition: all .5s ease-in;
}


.follow-us li:last-child:hover {
    background-color: #0077B5;
    transition: all .5s ease-in;
}

.contact-phone {
    color: #fff;
}

.contact-phone {
    font-size: 20px;
    font-weight: 300;
}

.contact-phone a {
    color: #fff;
    text-decoration: none;
}

.contact-location {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    display: flex;
}

.contact-location span {
    padding-right: 5px;
}

/* ========== Contact Section 1 End (Contact Hero) ========== */


/* ========== Responsive Start ========== */
@media screen and (max-width: 576px) {
    .text-contact h3 {
        font-size: 33px;
        font-weight: 600;
        font-family: Poppins;
        line-height: 1.5;
    }
    
    .text-contact p {
        font-size: 20px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 1.7;
    }

    .follow-us li a {
        padding: 11px;
        font-size: 18px;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .contact-phone {
        font-size: 20px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .text-contact h3 {
        font-size: 33px;
        font-weight: 600;
        font-family: Poppins;
        line-height: 1.5;
    }
    
    .text-contact p {
        font-size: 20px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 1.7;
    }
    
    .follow-us li a {
        padding: 11x;
        font-size: 20px;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .contact-phone {
        font-size: 20px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .text-contact h3 {
        font-size: 33px;
        font-weight: 600;
        font-family: Poppins;
        line-height: 1.5;
    }
    
    .text-contact p {
        font-size: 20px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 1.7;
    }
    
    .follow-us li a {
        padding: 11px;
        font-size: 20px;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .contact-phone {
        font-size: 20px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .text-contact h3 {
        font-size: 33px;
        font-weight: 600;
        font-family: Poppins;
        line-height: 1.5;
    }
    
    .text-contact p {
        font-size: 20px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 1.7;
    }
    
    .follow-us li a {
        padding: 11px;
        font-size: 20px;
        position: absolute;
        display: flex;
        align-items: center;
    }

    .contact-phone {
        font-size: 20px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* ========== Responsive End ========== */