


/* ========== About Section 4 Start (Sponsor) ========== */
.sponsor-image img{
    padding-left: 20px;
    padding-right: 20px;
}

.section-sponsor{
    padding-top: 130px;
    padding-bottom: 130px;
}

.sponsor-slider {
    padding-left: 0px;
}
/* ========== About Section 4 End (Sponsor) ========== */

/* ========== About Section 5 Start (Submit Email) ========== */
.submit-content{
    color: #fff;
    font-family: Poppins;
}

.submit-content h3{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.submit-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 10px;
}

.submit-section{
    padding-bottom: 130px;
}

.submit-wrapper{
    background-color: #000;
    border-radius: 10px;
    padding: 40px;
}

.submit-wrapper-content{
    color: #fff;
    font-family: Poppins;
}

.submit-input{
    display: flex;
    position: relative;
    overflow: hidden;
}

.submit-input input{
    width: 350px;
    height: 48px;
    display: flex;
    border: none;
    border-radius: 8px;
    padding: 5px 120px 5px 20px;
    font-family: Poppins;
}

.submit-input input:focus{
    outline: none;
}

.submit{
    right: 5px;
    top: 5px;
    bottom: 5px;
    padding: 0 15px 0 15px;
    border-radius: 8px;
    position: absolute;
    background-color: #DC7000;
    color: #fff;
    border: none;
    font-family: Poppins;
    margin-left: 5px;
    transition: all .3s;
}

.submit:hover{
    top: 3px;
    right: 3px;
    bottom: 3px;

}
/* ========== About Section 5 End (Submit Email) ========== */


/* ========== Responsive Start ========== */


@media screen and (max-width:992px) {



    .section-intro-content p{
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        padding-top: 15px;
    }


    .sponsor-image img{
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* ========== Responsive End ========== */