/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ========== About Section 1 Start (About Hero) ========== */
.about-hero{
    padding-bottom: 130px;
}

.hero-about-image img {
    width: 100%;
}

.hero-about-caption h1 {
    color: #fff;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.5;
}

.hero-about-caption p {
    color: #fff;
    line-height: 1.8;
    font-family: Poppins;
}

.hero-btn {
    border: none;
    color: #fff;
    background: #fa9021;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-family: Poppins;
    margin-top: 20px;
    transition: 0.5s;
}

.hero-btn:hover {
    box-shadow: 0 0 5px #FA9021,
        0 0 10px #FA9021,
        0 0 20px #FA9021,
        0 0 30px #FA9021;
}

/* ========== About Section 1 End (About Hero) ========== */


/* ========== About Section 2 Start (Work Person) ========== */
.text-block{
    color: #fff;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.person-method-section{
    padding-bottom: 130px;
}

.method-wrapper-worker {
    padding: 40px 25px 40px 25px;
    /* margin-bottom: 10px; */
    border-radius: 20px;
    background: #1C140F;
    box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-family: Poppins;
}

.person-work p {
    display: inline-block;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    background: rgba(176, 0, 220, 0.24);
}

.person-work-2 p {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background: rgba(220, 66, 0, 0.24);
}

.person-work-3 p {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background: rgba(0, 220, 141, 0.24);
}

.person-name{
    padding-top: 10px;
    padding-bottom: 10px;
}

.person-content{
    font-style: italic;
}
/* ========== About Section 2 End (Work Person) ========== */


/* ========== About Section 3 Start (Section Game Info) ========== */
.section-intro{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1C140F;
}

.section-intro-image img{
    width: 100%;
}

.section-intro-content p{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
}

.section-intro-content h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    padding-bottom: 10px;
}
/* ========== About Section 3 End (Section Game Info) ========== */


/* ========== About Section 4 Start (Sponsor) ========== */
.sponsor-image img{
    padding-left: 20px;
    padding-right: 20px;
}

.section-sponsor{
    padding-top: 130px;
    padding-bottom: 130px;
}

.sponsor-slider {
    padding-left: 0px;
}
/* ========== About Section 4 End (Sponsor) ========== */

/* ========== About Section 5 Start (Submit Email) ========== */
.submit-content{
    color: #fff;
    font-family: Poppins;
}

.submit-content h3{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.submit-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 10px;
}

.submit-section{
    padding-bottom: 130px;
}

.submit-wrapper{
    background-color: #000;
    border-radius: 10px;
    padding: 40px;
}

.submit-wrapper-content{
    color: #fff;
    font-family: Poppins;
}

.submit-input{
    display: flex;
    position: relative;
    overflow: hidden;
}

.submit-input input{
    width: 350px;
    height: 48px;
    display: flex;
    border: none;
    border-radius: 8px;
    padding: 5px 120px 5px 20px;
    font-family: Poppins;
}

.submit-input input:focus{
    outline: none;
}

.submit{
    right: 5px;
    top: 5px;
    bottom: 5px;
    padding: 0 15px 0 15px;
    border-radius: 8px;
    position: absolute;
    background-color: #DC7000;
    color: #fff;
    border: none;
    font-family: Poppins;
    margin-left: 5px;
    transition: all .3s;
}

.submit:hover{
    top: 3px;
    right: 3px;
    bottom: 3px;

}
/* ========== About Section 5 End (Submit Email) ========== */


/* ========== Responsive Start ========== */
@media screen and (max-width:576px) {
    .hero-about-image img {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .hero-about-caption h1 {
        color: #fff;
        font-size: 40px;
        font-family: Poppins;
        font-weight: 600;
        line-height: 1.5;
    }

    .hero-about-caption p {
        color: #fff;
        line-height: 1.8;
        font-family: Poppins;
        font-size: 18px;
    }


    .method-wrapper-worker {
        padding: 40px 25px 40px 25px;
        margin-bottom: 20px;
        border-radius: 20px;
        background: #1C140F;
        box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
        color: #fff;
        font-family: Poppins;
    }


    .section-intro-content p{
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        padding-top: 15px;
    }


    .sponsor-image img{
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* ========== Responsive End ========== */