/* ========== Header Start ==========  */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

}

.header-area .container {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: absolute;
}

.header-area li {
    padding: 30px 20px 30px 20px;
}

.sticky-bar {
    margin-top: 0;
    top: 0;
    position: sticky;
    z-index: 999999;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 35px 40px 0px rgba(0, 0, 0, 0.5);
    transition: .3s all ease-out;
}

.sticky-bar li {
    padding: 20px 20px 20px 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
    transition: all 1s;
    position: relative;
}

.nav-links li {
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

li a:hover,
li a:focus {
    background-size: 100% 3px;
}

.nav-menu a {
    content: "";
    background-image: linear-gradient(#dc7000, #dc7000);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;
}

/* .header-menu{
    display: none;
} */

.logo a{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.contact-btn {
    display: block;
    padding: 10px;
    border: none;
    background-color: #FA9021;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.contact-btn:hover {
    box-shadow: 0 0 5px #FA9021,
        0 0 10px #FA9021,
        0 0 20px #FA9021,
        0 0 30px #FA9021;
}

.menu-bar {
    display: none;
    border: none;
    background: transparent;
    color: #fff;
}

/* ========== Header End ========== */


/*========== Responsive Start ========== */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-area .container {
        width: 100%;
        top: 0;
        z-index: 9;
        position: absolute;
        padding: 30px;
    }

    .header-area li {
        padding: 0;
    }

    .sticky-bar {
        padding: 20px;
    }

    .sticky-bar li {
        padding: 0;
    }

    .logo p {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        display: block;
        padding-right: 10px;
        margin: 0;
        z-index: 10;
    }

    li a {
        font-size: 30px;
        font-weight: 300;
    }

    .nav-menu {
        width: 100%;
        transition: all 1s;
        position: fixed;
        display: block;
        background-color: rgb(37, 37, 37);
        box-shadow: 5px 5px 25px 15px #0000003c;
        z-index: 9;
        padding-top: 100px;
        inset: 0;
        margin: 0;
    }

    .nav-menu li {
        list-style: none;
    }

    .nav-links-mobile li {
        margin: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .nav-links {
        left: 1100px;
        opacity: 0;
        z-index: 3;
    }

    .nav-links li {
        margin: 0;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .nav-links-mobile {
        opacity: 1;
    }

    .menu-bar span {
        z-index: 10;
        display: block;
        margin: 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-area .container {
        width: 100%;
        top: 0;
        z-index: 9999;
        position: absolute;
        padding: 30px;
    }

    .header-area li {
        padding: 0;
    }

    .sticky-bar {
        padding: 20px;
    }

    .sticky-bar li {
        padding: 0;
    }

    .logo p {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        display: block;
        padding-right: 10px;
        margin: 0;
        z-index: 10;
    }

    li a {
        font-size: 30px;
        font-weight: 300;
    }

    .nav-menu {
        transition: all 1s;
        position: fixed;
        display: block;
        background-color: rgb(37, 37, 37);
        box-shadow: 5px 5px 25px 15px #0000003c;
        z-index: 9;
        padding-top: 100px;
        inset: 0;
        margin: 0;
    }

    .nav-menu li {
        list-style: none;
    }

    .nav-links-mobile li {
        margin: 0;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        left: 1100px;
        opacity: 0;
        z-index: -1;
    }

    .nav-links li {
        margin: 0;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .nav-links-mobile {
        opacity: 1;
    }

    .menu-bar span {
        z-index: 10;
        margin: 0;
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-area .container {
        width: 100%;
        top: 0;
        z-index: 9999;
        position: absolute;
        padding: 30px;
    }

    .header-area li {
        padding: 0;
    }

    .sticky-bar {
        padding: 20px;
    }

    .sticky-bar li {
        padding: 0;
    }

    .logo p {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        display: block;
        padding-right: 10px;
        margin: 0;
        z-index: 10;
    }

    li a {
        font-size: 30px;
        font-weight: 300;
    }

    .nav-menu {
        transition: all 1s;
        position: fixed;
        display: block;
        background-color: rgb(37, 37, 37);
        box-shadow: 5px 5px 25px 15px #0000003c;
        z-index: 9;
        padding-top: 100px;
        inset: 0;
        margin: 0;
    }

    .nav-menu li {
        list-style: none;
    }

    .nav-links-mobile li {
        margin: 0;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        left: 1100px;
        opacity: 0;
        z-index: -1;
    }

    .nav-links li {
        margin: 0;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .nav-links-mobile {
        opacity: 1;
    }

    .menu-bar span {
        z-index: 10;
        margin: 0;
        display: block;
    }
}

@media screen and (min-width: 993px) {
    .menu-bar span {
        display: none;
    }
}

/* ========== Responsive End ========== */