.submit-section {
    padding-bottom: 170px;
}

.submit-content {
    color: #fff;
    font-family: Poppins;
}

.submit-content h3 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.submit-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 10px;
}

.submit-section {
    padding-bottom: 130px;
}

.submit-wrapper {
    background-color: #000;
    border-radius: 10px;
    padding: 40px;
}

.submit-wrapper-content {
    color: #fff;
    font-family: Poppins;
}

.submit-input {
    display: flex;
    position: relative;
    overflow: hidden;
}

.submit-input input {
    width: 350px;
    height: 48px;
    display: flex;
    border: none;
    border-radius: 8px;
    padding: 5px 120px 5px 20px;
    font-family: Poppins;
}

.submit-input input:focus {
    outline: none;
}

.submit {
    right: 5px;
    top: 5px;
    bottom: 5px;
    padding: 0 15px 0 15px;
    border-radius: 8px;
    position: absolute;
    background-color: #DC7000;
    color: #fff;
    border: none;
    font-family: Poppins;
    margin-left: 5px;
    transition: all .3s;
}

.submit:hover {
    top: 3px;
    right: 3px;
    bottom: 3px;

}

/* Responsive Start */
@media screen and (max-width: 320px) {
    .submit-input input {
        width: 100%;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 12px;
    }

    .submit {
        right: 3px;
        top: 5px;
        bottom: 5px;
        padding: 0 15px 0 15px;
        border-radius: 8px;
        position: absolute;
        background-color: #DC7000;
        color: #fff;
        border: none;
        font-family: Poppins;
        margin-left: 5px;
        transition: all .3s;
        font-size: 12px;
    }

    .submit:hover {
        top: 3px;
        right: 4px;
        bottom: 3px;
    }

    .submit-wrapper-content h3 {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }

    .submit-wrapper-content p {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }

}


@media screen and (min-width: 321px) and (max-width: 375px) {
    .submit-input input {
        width: 100%;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 14px;
    }

    .submit {
        right: 3px;
        top: 5px;
        bottom: 5px;
        padding: 0 15px 0 15px;
        border-radius: 8px;
        position: absolute;
        background-color: #DC7000;
        color: #fff;
        border: none;
        font-family: Poppins;
        margin-left: 5px;
        transition: all .3s;
    }

    .submit:hover {
        top: 3px;
        right: 4px;
        bottom: 3px;

    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .submit-input input {
        width: 100%;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 14px;
    }

    .submit {
        right: 3px;
        top: 5px;
        bottom: 5px;

        border-radius: 8px;
        position: absolute;
        background-color: #DC7000;
        color: #fff;
        border: none;
        font-family: Poppins;
        margin-left: 5px;
        transition: all .3s;
    }

    .submit:hover {
        top: 3px;
        right: 4px;
        bottom: 3px;
    }

    .submit-wrapper-content h3 {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }

    .submit-wrapper-content p {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 576px) {
    .submit-input input {
        width: 100%;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 14px;
    }

    .submit {
        right: 3px;
        top: 5px;
        bottom: 5px;
        padding: 0 15px 0 15px;
        border-radius: 8px;
        position: absolute;
        background-color: #DC7000;
        color: #fff;
        border: none;
        font-family: Poppins;
        margin-left: 5px;
        transition: all .3s;
    }

    .submit:hover {
        top: 3px;
        right: 4px;
        bottom: 3px;

    }

    .submit-wrapper-content h3 {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }

    .submit-wrapper-content p {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .submit-input input {
        width: 100%;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 14px;
    }

    .submit {
        right: 3px;
        top: 5px;
        bottom: 5px;
        padding: 0 15px 0 15px;
        border-radius: 8px;
        position: absolute;
        background-color: #DC7000;
        color: #fff;
        border: none;
        font-family: Poppins;
        margin-left: 5px;
        transition: all .3s;
    }

    .submit:hover {
        top: 3px;
        right: 4px;
        bottom: 3px;

    }

    .submit-wrapper-content h3 {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }

    .submit-wrapper-content p {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .submit-input input {
        width: 100%;
        height: 48px;
        display: flex;
        border: none;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 14px;
    }

    .submit {
        right: 3px;
        top: 5px;
        bottom: 5px;
        padding: 0 15px 0 15px;
        border-radius: 8px;
        position: absolute;
        background-color: #DC7000;
        color: #fff;
        border: none;
        font-family: Poppins;
        margin-left: 5px;
        transition: all .3s;
    }

    .submit:hover {
        top: 3px;
        right: 4px;
        bottom: 3px;

    }

    .submit-wrapper-content h3 {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }

    .submit-wrapper-content p {
        color: #fff;
        font-family: Poppins;
        padding-bottom: 10px;
    }
}